<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" backgroundColor="accent">
  
    <mat-tab label="First">
      <app-tab1-female-characters></app-tab1-female-characters>
    </mat-tab>

    <mat-tab label="Second">
      <app-tab2-gender-pie-chart></app-tab2-gender-pie-chart>
    </mat-tab>
    <mat-tab label="Third">
        <app-tab3-oldest-characters></app-tab3-oldest-characters>
    </mat-tab>

    <mat-tab label="Fourth">
        <app-tab4-first-letter-characters></app-tab4-first-letter-characters>
    </mat-tab>
  </mat-tab-group>
