<mat-toolbar>
  <mat-toolbar-row>
    <a [routerLink]="'/landingPage'"
      ><img
        id="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/d/dc/The_Smurfs_logo_%282019%29.png"
        alt="The Logo"
    /></a>
    <!-- <span class="example-spacer"></span> -->
    
    <div id="div-btn">
      <a id="btn" mat-raised-button [routerLink]="'/mainList'"> SMURF <mat-icon>view_module</mat-icon></a>
    </div>
    <div id="div-btn">
      <a id="btn" mat-raised-button [routerLink]="'/mainList/gridList'"> SMURF <mat-icon>view_list</mat-icon></a>
    </div>
    <!-- <div id="div-btn">
      <a id="btn" mat-raised-button [routerLink]="'/mainList/chart'"> SMURF <mat-icon>equalizer</mat-icon></a>
    </div> -->

    <div id="div-btn">
      <a id="btn" mat-raised-button [routerLink]="'/mainList/tabs'"> TABS <mat-icon>equalizer</mat-icon></a>
    </div>









    <!-- <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
  </mat-toolbar-row>
</mat-toolbar>
