<mat-toolbar>
  <mat-toolbar-row>
    <a [routerLink]="'/landingPage'"
      ><img
        id="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/d/dc/The_Smurfs_logo_%282019%29.png"
        alt="The Logo"
    /></a>
    <!-- <span class="example-spacer"></span> -->
    <div id="div-btn">
      <a id="btn" mat-raised-button [routerLink]="'/mainList'"> SMURF LIST </a>
    </div>

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
  </mat-toolbar-row>
</mat-toolbar>
