<div class="form-container">   
  <div class="overlay">
    <div class="wrap">
      <!-- <form [formGroup]="smurfForm">
      <h1> ♥ New Smurf! ♥</h1>
            <div class="btn">
        <input id="back" routerLinkActive="active" routerLink="/mainList" type="submit" value="BACK TO LIST">
      <input id="create" (click)="onAddToList()" type="submit" value="CREATE">
      </div>
      <input type="text" id="name"  maxlength="50" placeholder="Smurf Name" required formControlName="itemName">
      <textarea id="description"  maxlength="900" placeholder="Details about the Smurf" required formControlName="itemDescription"></textarea>
      <input type="text" id="imagePath"  placeholder="IMAGE URL:  https://imgage.com/image.png " required formControlName="itemImagePath">
      <select id="sex"  required formControlName="itemSex">
        <option [value]="null" disabled>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
      <input type="number" id="height"  placeholder="Height (cm)" required min="1" max="300" formControlName="itemHeight">
      <input type="number" id="age"  placeholder="Age" required min="1" max="700" formControlName="itemAge">

      
      
    </form> -->

    <form [formGroup]="smurfForm" (ngSubmit)="onAddToList()">
      <h1> ♥ New Smurf! ♥</h1>
    
      <p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Smurf Name:</mat-label>
          <input matInput maxlength="50" placeholder="Smurf Name" maxlength="20" required formControlName="itemName">
          <mat-hint align="end">{{smurfForm.get('itemName').value?.length || 0}}/20</mat-hint>
          <mat-error *ngIf="smurfForm.get('itemName').hasError('required') && smurfForm.get('itemName').touched">
            Smurf Name is required.
          </mat-error>
          <mat-error *ngIf="smurfForm.get('itemName').hasError('maxlength') && smurfForm.get('itemName').touched">
            Maximum length is 20 characters.
          </mat-error>
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Details about the Smurf:</mat-label>
          <textarea matInput maxlength="900" placeholder="Details about the Smurf" maxlength="600" required formControlName="itemDescription"></textarea>
          <mat-hint align="end">{{smurfForm.get('itemDescription').value?.length || 0}}/600</mat-hint>
          <mat-error *ngIf="smurfForm.get('itemDescription').hasError('required') && smurfForm.get('itemDescription').touched">
            Description is required.
          </mat-error>
          <mat-error *ngIf="smurfForm.get('itemDescription').hasError('maxlength') && smurfForm.get('itemDescription').touched">
            Maximum length is 600 characters.
          </mat-error>
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Image Url:</mat-label>
          <input matInput placeholder="IMAGE URL:  https://imgage.com/image.png" required formControlName="itemImagePath">
          <mat-error *ngIf="smurfForm.get('itemImagePath').hasError('required') && smurfForm.get('itemImagePath').touched">
            Image Path is required.
          </mat-error>
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Select Gender:</mat-label>
          <mat-select required formControlName="itemSex">
            <mat-option [value]="null" disabled>Select Gender</mat-option>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
          <mat-error *ngIf="smurfForm.get('itemSex').hasError('required') && smurfForm.get('itemSex').touched">
            Gender is required.
          </mat-error>
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Age:</mat-label>
          <input matInput type="number" placeholder="Height (cm)" required min="10" max="100" formControlName="itemHeight">
          <mat-error *ngIf="(smurfForm.get('itemHeight').hasError('required') || smurfForm.get('itemHeight').hasError('min') || smurfForm.get('itemHeight').hasError('max')) && smurfForm.get('itemHeight').touched">
            Please enter a valid age between 20 and 100.
          </mat-error>
        </mat-form-field>
      </p>
    
      <p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Height (cm):</mat-label>
          <input matInput type="number" placeholder="Age" required min="1" max="700" formControlName="itemAge">
          <mat-error *ngIf="(smurfForm.get('itemAge').hasError('required') || smurfForm.get('itemAge').hasError('min') || smurfForm.get('itemAge').hasError('max')) && smurfForm.get('itemAge').touched">
            Please enter a valid height between 10 and 100.
          </mat-error>
        </mat-form-field>
      </p>
    
      <div class="btn">
        <button mat-raised-button color="primary" type="submit" [disabled]="smurfForm.invalid">CREATE <mat-icon>save_alt</mat-icon></button>
        <button mat-raised-button routerLink="/mainList"> <mat-icon>reply</mat-icon> BACK TO LIST</button>
      </div>
    </form>
    
    
    </div>
  </div>  
  </div>