

  *{
    box-sizing: border-box;
}
.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
    /* height: 100vh; */
    background-image: url(https://wallpapercave.com/wp/wp3515244.jpg);
    background-size:cover;
    background-attachment: fixed;
    
}

  
  h1{
    text-align:center;
    color:#4695D6  !important;
    margin-top:10%;
    font:60px Lobster;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  }
  
  p{
    color:#FFF;
    text-align:center;
    font:15px Lobster;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  }
  
  
  .wrap{
    /* height: 100vh; */
    width:50%;
    margin:0 auto;
    padding-bottom: 30px;
  }
  


#create{
    background:#941068;

  }

  #back{
    background:#061944;
  }
  .btn{
    display: flex;
    justify-content: space-between;
  }
  
  form {
    max-width: 400%;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffffb6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* label {
    display: block;
    margin-bottom: 8px;
  } */

  .mat-form-field{
    background-color: #1f6197;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #234B6B;
    border-radius: 4px;
  }
  
  input[type="submit"]:hover{
  cursor:pointer;
    opacity:1;
  }
  
 

    /* Responsive Styles */
  @media screen and (max-width: 1225px) {

  }
  
  @media screen and (max-width: 850px) {
    .wrap{
      width:80%;
    }

  }
  
  @media screen and (max-width: 600px) {
    h1{

      /* font:4em Lobster; */
      font-size: 2em;
    }

  }