@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

  /* CSS styling */
.blurry-background {
    position: relative;
    height: 100vh; /* Ensure full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .blurry-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Smurf Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: blur(3px);
    z-index: -1; /* Place the pseudo-element behind the content */
  }
.content-container {
    text-align: center;
    color: #ffffff; /*Set text color to contrast with the background */
    z-index: 1; /* Ensure the content is above the blurred background */
  }


  .content-container p {
    font-family: 'Comic Neue', cursive; /* Use the selected Google Font */
    font-weight: bold; /* Adjust the font weight as needed */
    font-size: 2.1em; /* Adjust the font size as needed */
    margin: 0 120px; /* Remove default margin */
    padding-bottom: 60px; /*Adjust padding as needed */
    /* display: inline-block; */
    line-height: 1.5;
    
  }

  /* Responsive Styles */
@media screen and (max-width: 1225px) {

  #img-heading{
    width: 100%;
  }

  .blurry-background::before {
    filter: blur(8px);
  }

}

@media screen and (max-width: 850px) {
  #img-heading{
    margin-bottom: 40px;
  }
  .content-container p {
    font-weight: 700; /* Adjust the font weight as needed */
    font-size: 1.7em; /* Adjust the font size as needed */
    margin: 0 90px; /* Remove default margin */
    padding-bottom: 40px; /*Adjust padding as needed */
    /* display: inline-block; */
    line-height: 1.3;
    
  }

}

@media screen and (max-width: 600px) {
  .content-container p {
    font-size: 1.2em; /* Adjust the font size as needed */
    margin: 0 40px; /* Remove default margin */
    
  }

}
