<div class="blurry-background">
  <div class="content-container">
    <!-- <h1>Welcome to Smurfville!</h1> -->
    <!-- <img src="https://fontmeme.com/permalink/240115/94ac7e565f94f68a8a40a017e7298502.png" alt="smurfs-font" border="0"> -->
    <!-- <img src="https://fontmeme.com/permalink/240115/0c6a3c1cfe28a38821a1568bcaa8bfbe.png" alt="shadow-effect" border="0"> -->
    <img id="img-heading"
      src="https://fontmeme.com/permalink/240115/d36fe547ad6a8edcb0bce2f94e242300.png"
      alt="glow-effect"
      border="0"
    />
    <p><strong>
      Join the Smurfy adventure where the little blue characters come to life!
      Explore the magical world of Smurfs and have a blast managing your own
      list of Smurf characters. Add, remove, and edit with a sprinkle of
      smurfiness!
    </strong>
      
    </p>
    <button mat-raised-button color="primary" routerLink="/mainList">
      Explore Smurf Characters
    </button>
  </div>
</div>
